<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ToDoAppSuite">

    <test name="FileOperationsTests">
        <groups>
            <run>
                <include name="file-operations"/>
            </run>
        </groups>
        <classes>
            <class name="ToDoApp.TestNGTests"/>
        </classes>
    </test>

    <test name="TaskManipulationsTests">
        <groups>
            <run>
                <include name="task-manipulations"/>
            </run>
        </groups>
        <classes>
            <class name="ToDoApp.TestNGTests"/>
        </classes>
    </test>

    <test name="TaskSearchTests">
        <groups>
            <run>
                <include name="task-search"/>
            </run>
        </groups>
        <classes>
            <class name="ToDoApp.TestNGTests"/>
        </classes>
    </test>

    <test name="TaskStatusTests">
        <groups>
            <run>
                <include name="task-status"/>
            </run>
        </groups>
        <classes>
            <class name="ToDoApp.TestNGTests"/>
        </classes>
    </test>

</suite>
